<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Startup bitte nicht ändern!-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--PrimaryKey für den Oxford Dienst-->
      <add key="primaryKey" value="a63a4eebc1d04c74b2fbd7af9a6a448d" />
      <!--Sprachauswahl, folgende Werte sind möglich
            American English: "en-us"
            British English: "en-gb"
            German: "de-de"
            Spanish: "es-es"
            French: "fr-fr"
            Italian: "it-it"
            Mandarin: "zh-cn"
      -->
      <add key="language" value="de-de" />
    </appSettings>  
</configuration>